.Topbar b{
    color: black;
    text-decoration: none;
    font-size: large;
    margin-top: -10%;
    padding-left: 1%;

}

.Topbar {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background: deepskyblue;
    height: 11%;
    overflow: hidden;
}


.toolbar_widget_list a{
    color: white;
    text-decoration: none;
    text-overflow: ellipsis;
}

.toolbar_widget_list a:hover,
.toolbar_widget_list a:active{
    color: deeppink;
}


.test {
    border-style: solid;
}